  /*=====================HEADER SECTION=======================*/

  @media screen and (min-width: 1200px) {
      .container {
          max-width: 1160px;
      }

      .site-menu {
          margin-left: 76px;
      }

      .contacts {
          display: flex;
          gap: 40px;
          margin-left: 332px;
      }}

      /*============================HERO SECTION=========================*/

     @media screen and (min-width: 961px) { .hero-section {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero1200@1x.jpg);
        padding-top: 188px;
    padding-bottom: 188px; 
        }

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
          .hero-section {
              background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero1200@2x.jpg);}  
      }


      /*============================FITURE SECTION=========================*/
      .fiture-section {
          padding-top: 120px;
          padding-bottom: 0px;
      }
  }

  @media screen and (max-width: 1200px) {
      .fiture-icon {
          display: none;
      }

      .fiture-icon-list {
          display: none;
      }
  }

  @media screen and (min-width: 1200px) {
      .secondary-titles {
          font-weight: 500;
          font-size: 20px;
          line-height: 1.2;
      }

      .subtitles {
          font-weight: 400;
      }

       .fiture-list {gap: 24px;}
      .fiture-list>.fiture-item {
          flex-basis: calc((100% - 72px) / 4);
          
      }

      .fiture-icon-list {
          display: flex;
          min-width: 264px;
          height: 116px;
          margin-bottom: 8px;
          background-color: var(--secondary-background-color);
          align-items: center;
          justify-content: center;
      }
  }


  /*----------------------------------- SERVICES---------------------------------*/
  @media screen and (max-width: 1199px) {
      .services-section {
          display: none;
      }
  }

  /*------------------------------------TEAM-SECTION------------------------------*/

  @media screen and (min-width: 1200px) {
      .team-section {
          padding-top: 120px;
          padding-bottom: 120px;
      }
      /*----------------------------------------CUSTOMER SECTION---------------------------------*/

      .customer-section {
          padding-top: 120px;
          padding-bottom: 120px;
      }



      /*--------------------------------- FOOTER_STYLES and MODAL_WINDOW-------------------------------*/
      .footer {
          padding-top: 100px;
          padding-bottom: 100px;
      }
  }


  @media screen and (min-width: 1200px) {
      .footer-flex-container { display: flex;
        justify-content: center;
        align-items: baseline;
          
      }

      .footer-container {
        align-items: baseline;
        margin-right: 80px;
          gap: 120px; 
      }

       .modal-window {

        width: 408px;
        height: 584px;
    }
      /* ----------------------PORTFOLIO SERVICES--------------------------*/

      .image-list {
         justify-content: center;
          column-gap: 24px;
          row-gap: 48px;
      }

      .portfolio-image-container {
          max-width: 360px;
      }

      .button-list {margin-bottom: 72px;}
  }
