:root {
    --primary-color: #2E2F42;
    --secondary-color-text: #434455;
    --main-background-color: #FFFFFF;
    --secondary-background-color: #F4F4FD;
    --accent-color: #4D5AE5;
    --btn-hover-color: #404BBF;
    --footer-text-color: #E7E9FC;
    --main-letter-spacing: 0.02em;
}


h1,
h2,
h3,
h4,
p {
    margin: 0px;
}

ul,
li {
    margin: 0px;
    padding: 0px;
}

.list {
    list-style: none;
    padding-left: 0px;
}

.link {
    text-decoration: none;
}

Img {
    display: block;

}

button {
    padding: 0;
}

.no-scroll {
    overflow: hidden;
}


.container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}





body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    background: var(--main-background-color);

}

/*=====================HEADER SECTION=======================*/

.header-section {
    background-color: var(--main-background-color);
    border-bottom: 1px solid var(--footer-text-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}



.logo {
    color: var(--primary-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-accent {
    color: var(--btn-hover-color);
}

.header-container {

    display: flex;
    align-items: center;

}



.site-nav {
    display: flex;
    align-items: center;
}

.site-menu {
    display: flex;
    gap: 40px;
}




.menu-item .menu-link {
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--main-letter-spacing);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item .menu-link:hover,
.menu-item .menu-link:focus {
    color: var(--accent-color);
}

.menu-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

}


.menu-link.current-page::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.menu-item>.current-page {
    color: var(--accent-color);
}



.contact-item .contact-link {
    color: var(--secondary-color-text);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--main-letter-spacing);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item .contact-link:hover,
.contact-item .contact-link:focus {
    color: var(--accent-color);
}


.contact-item:not(:last-child) {
    margin-bottom: 4px;
}





.mobile-menu-open-btn {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    cursor: pointer;

}


.mobile-open-icon {
    stroke: var(--primary-color);
    width: 32px;
    height: 22px;
}

/*============================HERO SECTION=========================*/

.hero-section {
    background: var(--primary-color);
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero480@1x.jpg);
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}



@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero480@2x.jpg);
    }
}


.hero {
    max-width: 320px;
    font-size: 36px;
    letter-spacing: var(--main-letter-spacing);
    line-height: 1.11;
    margin-left: auto;
    margin-right: auto;
    color: var(--main-background-color);
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}



.main-button {
    display: inline-block;
    padding: 16px 32px;
    margin-top: 48px;

    color: var(--main-background-color);
    background: var(--accent-color);
    align-items: center;
    border-radius: 4px;
    border: 1px solid transparent;


    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    background: var(--btn-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/*============================FITURE SECTION=========================*/
.fiture-section {
    padding-top: 96px;
    padding-bottom: 96px;

    align-items: center;
}


.fiture-icon {
    width: 64px;
    height: 64px;
}


.secondary-titles {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: var(--main-letter-spacing);
    text-align: center;
    color: var(--primary-color);
}



.subtitles {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--main-letter-spacing);

    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;

    color: var(--secondary-color-text);
}



/*----------------------- SERVICES---------------------*/

.services-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.service-list {
    display: flex;
    margin-top: 72px;
    justify-content: center;
    gap: 24px;
}


.titles {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: var(--main-letter-spacing);
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 72px;
}





/*--------------------------TEAM-SECTION------------------*/

.team-section {
    background: var(--secondary-background-color);
    padding-top: 128px;
    padding-bottom: 128px;

}

.team-item {
    max-width: 264px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}


.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: var(--main-letter-spacing);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    color: var(--secondary-color-text);
}

.team-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: var(--main-letter-spacing);
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-color);
}


.team-content {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    background-color: var(--main-background-color);
    border-right: 1px solid var(--footer-text-color);
    border-bottom: 1px solid var(--footer-text-color);
    border-left: 1px solid var(--footer-text-color);

}


.team-social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}


.social-link {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;

    background-color: var(--accent-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--btn-hover-color);
}

.social-icon {
    width: 16px;
    height: 16px;

    fill: var(--secondary-background-color);
}

/*----------------------------------------CUSTOMER SECTION---------------------------------*/
.customer-section {
    padding-top: 96px;
    padding-bottom: 96px;
}




.customer-list {
display: flex;
    flex-wrap: wrap;
    justify-content: center;
column-gap: 16px;
   row-gap: 72px;

}



.customer-icon {
    width: 104px;
    height: 56px;
 
}


.customer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    fill: #8E8F99;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.customer-link:hover,
.customer-link:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);

}


/*------------------- FOOTER STYLES ----------------*/
.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background: var(--primary-color);
}



.footer-logo {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
text-align: center;
    color: var(--secondary-background-color);
}

.footer-accent {
    color: var(--btn-hover-color);
}

.footer-container {display: flex;
flex-direction: column;
gap: 72px;}


.footer-text {
    margin-top: 16px;
    width: 264px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--main-letter-spacing);
    color: var(--footer-text-color);
}




.social-media-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    text-align: center;
    color: var(--main-background-color);

}




.media-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.media-icon {
    width: 24px;
    height: 24px;
}

.media-link {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--secondary-background-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus {
    background-color: #31D0AA;
}


/*==========FOOTER FORM==========*/
button {
    margin-left: 0px;
}

.subscribe-btn {
    position: relative;
    display: flex;

    padding: 8px 24px;
    margin-left: auto;
    margin-right: auto;
    min-width: 165px;
    height: 40px;

    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    background: var(--accent-color);
    color: var(--main-background-color);
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--btn-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}




.subscribe-icon {
    position: absolute;
    top: 50%;
    right: 24px;

    transform: translateY(-50%);
    width: 24px;
    height: 20px;
}




.fotter-input {
    width: 100%;
    min-height: 40px;
    margin-left: 0px;
    padding: 8px 16px;


    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;


    color: var(--main-background-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.fotter-input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.fotter-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    color: rgba(255, 255, 255, 0.6);
}


/* ----------------------PORTFOLIO SERVICES--------------------------*/

.portfolio-section {
    padding-top: 48px;
    padding-bottom: 48px;

}


.buttons {
    display: flex;
    padding: 12px 24px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--accent-color);
    background: var(--secondary-background-color);
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.buttons:hover,
.buttons:focus {
    color: var(--main-background-color);
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 3px 1px rgba(0, 0, 0, 0.1);
}

.button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    row-gap: 16px;
    column-gap: 24px;
    margin-bottom: 48px;
}


.image-link {
    display: block;
    color: var(--primary-color);
}

.image-list {
    display: flex;
    flex-wrap: wrap;

    row-gap: 48px;
}


.image-item {
    max-width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-item:hover {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}




.content-card {
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;

    border-right: 1px solid var(--footer-text-color);
    border-bottom: 1px solid var(--footer-text-color);
    border-left: 1px solid var(--footer-text-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

}



/*-------------------- PORTFPLIO OVERLAY---------------------*/

.portfolio-image-container {
    position: relative;
    overflow: hidden;

}


.portfolio-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--main-letter-spacing);
    color: #F4F4FD;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;

    background-color: rgba(77, 90, 229, 0.9);
}

.image-link:hover .portfolio-overlay,
.image-link:focus .portfolio-overlay {
    transform: translate(0, 0);

}



/*======================MOBILE MENU=======================*/


.mobile-menu {
    position: fixed;
    top:0;
    left: 0;
    width:100vw;
    height: 100vh;
    z-index: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    padding: 40px;
    overflow: auto;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    background-color: var(--main-background-color);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}



.mobile-menu-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
}


.mobile-menu-list {margin-top: 16px;}

.mobile-menu-list .mobile-menu-item {
    margin-bottom: 40px;
}

.mobile-menu-item .mobile-menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: var(--main-letter-spacing);
    color: var(--primary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-item .mobile-menu-link:hover,
.mobile-menu-item .mobile-menu-link:focus {
    color: var(--accent-color);
}

.mobile-menu-item>.current-page {
    color: var(--accent-color);
}


.phone-item .phone-link {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 40px;
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.phone-item .phone-link:hover,
.phone-item .phone-link:focus {
    color: var(--btn-hover-color);
}


.mail-item .mail-link {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: var(--main-letter-spacing);
    margin-bottom: 48px;
    color: var(--secondary-color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-item .mail-link:hover,
.mail-item .mail-link:focus {
    color: var(--accent-color);
}

.mobile-social-icon {
    width: 24px;
    height: 24px;

    fill: var(--secondary-background-color);
}

.mobile-social-list {
    display: flex;
max-width: 328px;

    justify-content: space-between;
}

.mobile-close-icon {
    width: 8px;
    height: 8px;
}

/*=============MODAL WINDOW=====================*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
 overflow: auto;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}


/* .backdrop.is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(0.9);
    transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.modal-window {
position: absolute;
    top: 50%;
    left: 50%;
   width: 408px;
    
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px, 2px, 1px, rgba(0, 0, 0, 0.2),
        0px, 1px, 3px, rgba(0, 0, 0, 0.12),
        0px, 1px, 1px, rgba(0, 0, 0, 0.14);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 



.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;


    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
}


.modal-button-icon {
    width: 8px;
    height: 8px;
}

/*======================MODAL FORM=================*/

.modal-form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 100%;
}


.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

    margin-bottom: 14px;
    padding-top: 48px;

    color: var(--primary-color);
}


.modal-icon-container {
    position: relative;
    margin-bottom: 8px;
}


.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;

    color: #8E8F99;
}

.modal-form-input {
    width: 100%;
    min-height: 40px;
    padding-left: 38px;

    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);

    display: block;
    width: 18px;
    height: 24px;

    fill: var(--primary-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icons {
    width: 18px;
    height: 24px;
}

.modal-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
}


.modal-form-input:focus+.modal-form-input-icon {
    fill: var(--accent-color);
}

/*--------------------COMENTS-----------------------*/

.modal-form-comment-text {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    margin-bottom: 16px;

    font-family: inherit;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    border-radius: 4px;
}



.modal-form-comment-text:focus {
    outline: none;
    border-color: var(--accent-color);
}



.modal-form-comment-text::placeholder {
    font-family: inherit;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;
}


/*----------------------CHACKBOX-----------------------*/

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}


.checkbox-icon-container {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;

    border: 1.25px solid var(--primary-color);
    border-radius: 2px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.checkbox-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;

    transform: translate(-50%, -50%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
}


.checkbox-input:checked+.checkbox-icon-container>.checkbox-icon {
    border-color: var(--accent-color);
    opacity: 1;
}


.privacy-policy-link {
    display: inline-block;
    margin-left: 2px;
    color: var(--accent-color);
}



.checkbox-input:focus+.checkbox-icon-container {
    border-color: var(--accent-color);
}




.modal-button {
    display: inline-block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    padding: 0;
     padding: 16px 32px; 

    background-color: var(--accent-color);
    border: transparent;
    border-radius: 4px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--main-background-color);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--btn-hover-color);
    border-color: var(--btn-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}